*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background:#001e4d;
}
.app{
    background: white;
    width:90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-weight: 25px;
    color:#001e4d;
    border-bottom:1px solid #333 ;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;

}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600px;
}
.btn{
    background: white;
    color: #222;
    font-weight: 500px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
button:hover:not([disabled]){
    background: #222;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    display: none;

}
.correct{
background: #9aeabc;
}
.incorrect{
    background: #ff9393;
    }